<div class="col-md-12">
    <button class="btn btn-secondary" title="Go back" (click)="goBack()">
        <span class="fas fa-arrow-circle-left"></span>
    </button>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-6">
            <form class="form-horizontal">
                <h2>Registrar un analisis medico</h2>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Resumen</label>
                        <input required="required" name="summary" [(ngModel)]="medicalAnalysis.summary" type="text" placeholder="Resumen" class="form-control"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Tipo</label>
                        <input name="type" (input)="typeValidator=true; typeError=false" [style.border-color]="borderColor()" [(ngModel)]="medicalAnalysis.type"
                            type="text" placeholder="Tipo" class="form-control" />
                        <div *ngIf="typeError && !firstTime" style="color: tomato">Introduzca el tipo</div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Hospital</label>
                        <input required name="hospital" [(ngModel)]="medicalAnalysis.hospital" type="text" placeholder="Hospital" class="form-control"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Comentario</label>
                        <textarea name="commentary" [(ngModel)]="medicalAnalysis.commentary" rows="5" placeholder="Comentario" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Fecha</label>
                        <input required="required" name="date" [(ngModel)]="medicalAnalysis.date" placeholder="AAAA-MM-DD" class="form-control">
                        <div *ngIf="dateError && !firstTime" style="color: tomato">Introduzca la fecha</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Imagenes</label>
                        <input multiple type="file" #fileupload name="image" class="form-control" (change)="onFileChange($event)">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <button class="btn btn-success btn-block" (click)="createAnalysis()">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>