<div class="col-md-12">
    <button class="btn btn-secondary" title="Go back" (click)="goBack()">
        <span class="fas fa-arrow-circle-left"></span>
    </button>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-6">
            <form class="form-horizontal">
                <h2>Crear un analisis</h2>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Resumen</label>
                        <input name="summary" [(ngModel)]="medicalAnalysis.summary" type="text" placeholder="summary" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Tipo</label>
                        <input name="type" [(ngModel)]="medicalAnalysis.type" type="text" placeholder="type" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Diagnostico</label>
                        <textarea name="diagnostic" [(ngModel)]="medicalAnalysis.diagnostic" rows="5" placeholder="Diagnostic" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Descripcion</label>
                        <input name="description" [(ngModel)]="medicalAnalysis.description" type="text" placeholder="Description" class="form-control"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Hospital</label>
                        <input name="hospital" [(ngModel)]="medicalAnalysis.hospital" type="text" placeholder="hospital" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Comentario</label>
                        <textarea name="commentary" [(ngModel)]="medicalAnalysis.commentary" rows="5" placeholder="Commentary" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Fecha</label>
                        <input name="date" [(ngModel)]="medicalAnalysis.date" placeholder="Date" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <button class="col-md-3 btn btn-success btn-block" (click)="createAnalysis()">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>