<div class="col-md-12">
  <button class="btn btn-secondary" title="Go back" (click)="goBack()">
    <span class="fas fa-arrow-circle-left"></span>
  </button>
</div>

<div *ngIf="show" class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-6">
      <form class="form-horizontal" role="form">
        <h2 *ngIf="action=='edit'">Editar usuario</h2>
        <h2 *ngIf="action=='create'">Crear usuario</h2>
        <div class="form-group">
          <div class="col-md-9">
            <label class="validation-message">Nombre *</label>
            <input name="nameInput" (input)="nameValidator=true; nameError=false" [style.border-color]="borderColor(true)" [(ngModel)]="user.name"
              type="text" placeholder="Nombre..." class="form-control" />
            <div *ngIf="nameError && !firstTime" style="color: tomato">Introduzca el nombre</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-9">
            <label class="validation-message">Apellido *</label>
            <input name="lastNameInput" (input)="lastNameValidator=true; lastNameError=false" [style.border-color]="borderColor(false)"
              [(ngModel)]="user.last_name" type="text" placeholder="Apellido..." class="form-control" />
            <div *ngIf="lastNameError && !firstTime" style="color: tomato">Introduzca el apellido</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-9">
            <label class="validation-message">Edad</label>
            <input name="age" [(ngModel)]="user.age" type="number" placeholder="Edad" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-9">
            <label class="validation-message">Alergias</label>
            <input name="allergies" [(ngModel)]="user.allergies" type="text" placeholder="Alergias" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-9">
            <label class="validation-message">Enfermedades</label>
            <input name="diseases" [(ngModel)]="user.diseases" type="text" placeholder="Enfermedades" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-9">
            <button [disabled]="loading" class="col-md-3 btn btn-success btn-block" (click)="saveChanges()">Guardar</button>
            <button class="col-md-3 btn btn-danger btn-block" (click)="goBack()">Cancelar</button>
            <div *ngIf="loading" class="help-block">Guardando...</div>
          </div>
          <div class="form-group">
            <div class="col-md-9">
              <div>Los campos con * son obligatorios</div>
              <div *ngIf="(nameError || lastNameError) && !firstTime" style="color: tomato">Por favor introduzca los datos marcados como obligatorios</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>