<div class="col-md-6 col-md-offset-3">
  <h2>Login</h2>
  <form name="form">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" (input)="usernameValidator=true; usernameError=false" [style.border-color]="borderColor('username')"
        [(ngModel)]="account.username" />
      <div *ngIf="!firstTime && usernameError" class="help-block" style="color: tomato">El nombre de usuario es obligatorio</div>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" name="password" (input)="passwordValidator=true; passwordError=false" [style.border-color]="borderColor('password')"
        [(ngModel)]="account.password" />
      <div *ngIf="!firstTime && passwordError" class="help-block" style="color: tomato">La contraseña es obligatoria</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" (click)="login()">Login</button>
      <a [routerLink]="['/register']" class="btn btn-link">Registrarse</a>
    </div>
    <div *ngIf="errorMessage" class="help-block" style="color: tomato">{{errorMessage}}</div>
    <div *ngIf="!firstTime && (usernameError || passwordError)" class="help-block" style="color: tomato">Por favor introduzca todos los campos</div>
  </form>
</div>