<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <button class="btn btn-secondary" title="Go back" (click)="goBack()">
                    <span class="fas fa-arrow-circle-left"></span>
                </button>
            </div>
            <br/>
        </div>
        <div class="col-md-12 col-md-offset-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-9">
                        <h2>Registrar una consulta medica</h2>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Resumen</label>
                        <input name="summary" [(ngModel)]="medicalConsultation.summary" type="text" placeholder="Resumen" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Doctor *</label>
                        <input name="doctor" (input)="doctorValidator=true; doctorError=false" [style.border-color]="borderColor(true)" [(ngModel)]="medicalConsultation.doctor"
                            type="text" placeholder="Doctor" class="form-control" />
                        <div *ngIf="doctorError && !firstTime" style="color: tomato">Introduzca al doctor</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Diagnostico *</label>
                        <textarea name="diagnostic" (input)="diagnosticValidator=true; diagnosticError=false" [style.border-color]="borderColor(false)"
                            [(ngModel)]="medicalConsultation.diagnostic" rows="5" placeholder="Diagnostico" class="form-control"></textarea>
                        <div *ngIf="diagnosticError && !firstTime" style="color: tomato">Introduzca un diagnostico</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Hospital</label>
                        <input name="hospital" [(ngModel)]="medicalConsultation.hospital" type="text" placeholder="Hospital" class="form-control"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Descripcion</label>
                        <input name="description" [(ngModel)]="medicalConsultation.description" type="text" placeholder="Descripcion" class="form-control"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Comentario</label>
                        <textarea name="commentary" [(ngModel)]="medicalConsultation.commentary" rows="5" placeholder="Comentario" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Fecha *</label>
                        <my-date-picker name="mydate" [placeholder]="'dd-mm-yyyy'" [options]="myDatePickerOptions" [(ngModel)]="medicalConsultation.date"
                            required></my-date-picker>
                        <div *ngIf="dateError && !firstTime" style="color: tomato">Introduzca la fecha</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Imagenes</label>
                        <input multiple type="file" accept="image/jpeg,image/png" #fileupload name="image" class="form-control" (change)="onFileChange($event)">
                    </div>
                    <div *ngIf="imagesError && !firstTime" style="color: tomato">La aplicacion solo soporta imagenes en formato jpeg y png</div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <button [disabled]="loading" class="btn btn-success btn-block" (click)="createConsultation()">Registrar</button>
                        <div *ngIf="loading" class="help-block">Guardando...</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <div>Los campos con * son obligatorios</div>
                        <div *ngIf="(dateError || diagnosticError) && !firstTime" style="color: tomato">Por favor introduzca los datos marcados como obligatorios</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>