<div class="col-md-12">
  <button class="btn btn-secondary" title="Go back" (click)="goBack()">
    <span class="fas fa-arrow-circle-left"></span>
  </button>
</div>

<blockquote class = "blockquote text-center">
    <h1><b>Observation Information</b></h1>
    <br><br>
    <div class="container">      

        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Observation</td>
              <td>{{selfObservation.text}}</td>
          </tbody>
        </table>
      </div>
</blockquote>