<button class="btn btn-secondary" title="Go back" (click)="goBack()">
  <span class="fas fa-arrow-circle-left"></span>
</button>
<blockquote class = "blockquote text-center">
    <h1><b>Analysis Information</b></h1>
    <br><br>
    <div class="container">      

        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Type</td>
              <td>{{analysis.type}}</td>
            </tr>
            <tr>
              <td>Hospital</td>
              <td>{{analysis.hospital}}</td>
            </tr>
            <tr>
              <td>Text</td>
              <td>{{analysis.text}}</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>{{analysis.date}}</td>
            </tr>
            <tr>
              <td>Commentary</td>
              <td>{{analysis.commentary}}</td>
            </tr>
          </tbody>
        </table>
      </div>
</blockquote>

