<div class="col-md-12">
  <button class="btn btn-secondary" title="Go back" (click)="goBack()">
    <span class="fas fa-arrow-circle-left"></span>
  </button>
</div>

<blockquote class = "blockquote text-center">
    <h1>Analisis</h1>
    <br>
    <div class="container">      
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Resumen</td>
              <td>{{analysis.summary}}</td>
            </tr>
            <tr>
              <td>Tipo</td>
              <td>{{analysis.type}}</td>
            </tr>
            <tr>
              <td>Hospital</td>
              <td>{{analysis.hospital}}</td>
            </tr>
            <tr>
              <td>Descripcion</td>
              <td>{{analysis.description}}</td>
            </tr>
            <tr>
              <td>Fecha</td>
              <td>{{analysis.date}}</td>
            </tr>
            <tr>
              <td>Comentario</td>
              <td>{{analysis.commentary}}</td>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-1">
            <button class="btn btn-secondary" title="View" (click)="viewRegister(register)">
              Editar        
            </button>
          </div>        
          <div class="col-md-1">            
            <button class="btn btn-danger" title="Edit" (click)="editRegister(register)">
              Eliminar        
            </button>
          </div>
        </div>
      </div>
</blockquote>

