<div class="col-md-12">
  <button class="btn btn-secondary" title="Go back" (click)="goBack()">
    <span class="fas fa-arrow-circle-left"></span>
  </button>
</div>

<blockquote class = "blockquote text-center">
    <h1><b>Consultation Information</b></h1>
    <br><br>
    <div class="container">      
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Summary</td>
              <td>{{consultation.summary}}</td>
            </tr>
            <tr>
              <td>Doctor</td>
              <td>{{consultation.doctor}}</td>
            </tr>
            <tr>
              <td>Diagnostic</td>
              <td>{{consultation.diagnostic}}</td>
            </tr>
            <tr>
                <td>Hospital</td>
                <td>{{consultation.hospital}}</td>
              </tr>
            <tr>
              <td>Description</td>
              <td>{{consultation.description}}</td>
            </tr>
            <tr>
                <td>Commentary</td>
                <td>{{consultation.commentary}}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{consultation.date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
</blockquote>