<div class="col-md-12">
  <button class="btn btn-secondary" title="Go back" (click)="goBack()">
    <span class="fas fa-arrow-circle-left"></span>
  </button>
</div>

<blockquote class = "blockquote text-center">
    <h1>Consulta</h1>
    <br>
    <div class="container">      
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Resumen</td>
              <td>{{consultation.summary}}</td>
            </tr>
            <tr>
              <td>Doctor</td>
              <td>{{consultation.doctor}}</td>
            </tr>
            <tr>
              <td>Hospital</td>
              <td>{{consultation.hospital}}</td>
            </tr>
            <tr>
              <td>Diagnostico</td>
              <td>{{consultation.diagnostic}}</td>
            <tr>
              <td>Descripcion</td>
              <td>{{consultation.description}}</td>
            </tr>
            <tr>
              <td>Comentario</td>
              <td>{{consultation.commentary}}</td>
            </tr>
            <tr>
              <td>Fecha</td>
              <td>{{consultation.date}}</td>
            </tr>
          </tbody>
        </table>

      <div class="row">
          <div class="col-md-1">
            <button class="btn btn-secondary" title="View" (click)="viewRegister(register)">
              Editar        
            </button>
          </div>        
          <div class="col-md-1">            
            <button class="btn btn-danger" title="Edit" (click)="editRegister(register)">
              Eliminar        
            </button>
          </div>
      </div>
    </div>      
</blockquote>