<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <button class="btn btn-secondary" title="Go back" (click)="goBack()">
          <span class="fas fa-arrow-circle-left"></span>
        </button>
      </div>
      <br/>
    </div>
  </div>
  <h4 *ngIf="show && error">{{error}}</h4>
  <blockquote *ngIf="show && !error" class="blockquote text-center">
    <h1>
      <b>Informacion de la consulta</b>
    </h1>
    <br>
    <br>
    <div class="container">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Resumen</td>
            <td>{{consultation.summary}}</td>
          </tr>
          <tr>
            <td>Doctor</td>
            <td>{{consultation.doctor}}</td>
          </tr>
          <tr>
            <td>Diagnostico</td>
            <td>{{consultation.diagnostic}}</td>
          </tr>
          <tr>
            <td>Hospital</td>
            <td>{{consultation.hospital}}</td>
          </tr>
          <tr>
            <td>Descripcion</td>
            <td>{{consultation.description}}</td>
          </tr>
          <tr>
            <td>Comentario</td>
            <td>{{consultation.commentary}}</td>
          </tr>
          <tr>
            <td>Fecha</td>
            <td>{{consultation.date | date:'dd/MM/yyyy'}}</td>
          </tr>
          <tr>
            <td>Imagenes</td>
            <td>
              <div *ngFor="let imgDecoded of imagesDecoded">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" [src]="imgDecoded">
                  <div class="card-body">
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </blockquote>
</div>