<div class="col-md-12">
        <button class="btn btn-secondary" title="Go back" (click)="goBack()">
          <span class="fas fa-arrow-circle-left"></span>
        </button>
      </div>
      
      <div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-6">
            <!-- <form method="post" class="form-horizontal" role="form"> -->
            <form class="form-horizontal" role="form">                
                <h2>Edit a Medical Consultation</h2>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Summary</label>                      
                        <input name="summary" [(ngModel)]="medicalConsultation.summary" type="text" placeholder="Doctor" class="form-control"/> 
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Doctor</label>                      
                        <input name="doctor" [(ngModel)]="medicalConsultation.doctor" type="text" placeholder="Doctor" class="form-control"/> 
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Diagnostic</label>                      
                        <textarea name="diagnostic" [(ngModel)]="medicalConsultation.diagnostic" rows="5" placeholder="Diagnostic" class="form-control"></textarea> 
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Hospital</label>                      
                        <input name="hospital" [(ngModel)]="medicalConsultation.hospital" type="text" placeholder="Hospital" class="form-control"/> 
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Description</label>                      
                        <input name="description" [(ngModel)]="medicalConsultation.description" type="text" placeholder="Description" class="form-control"/> 
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Commentary</label>                      
                        <textarea name="commentary" [(ngModel)]="medicalConsultation.commentary" rows="5" placeholder="Commentary" class="form-control"></textarea> 
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        <label class="validation-message">Date</label>                      
                        <input name="date" [(ngModel)]="medicalConsultation.date" placeholder="Date" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <!-- <button type="submit" class="col-md-3 btn btn-success btn-block" [disabled]="!form.valid">Save</button> -->
                        <button class="col-md-3 btn btn-success btn-block" (click)="saveChanges()">Save</button>                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>